<h1>
  Rock bands
</h1>
<img src="https://s3-alpha-sig.figma.com/img/436e/302e/66fcaa14b795fb83d748be3a4739c9ef?Expires=1653868800&Signature=HAVCORWgiBG5B2PSHMSUMpn5INOZBARrf-xiPheCfdCQqrxlH0J58Cu8j-HtQAW~Kjbc-pkWj0yxxAR~fhlKvt1XUh~0vua5JHTtwgET0cqcSWvI-U8GcWxgvjMS2g7LOKIEQ4mWI2RhoV7gazjLUPK92FW98zGqt~sQKLI7Q3Qrfa5vHY2QqrnnGaNBtnu1J1-WyQWQ8kAdrM9ipF4xJR0tUfVx9HqzYE6OTefYTwTn6CW0yhYjSp3CBLGRQ~Mwnb~6OIAQlIC8Z5FXhRCU4weA9GjPnkBQ6ZP9JgZfBBzEh69hXj~orbUO-dWZ96H~Imc5LpSDqQ63AjWGfpsEXQ__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA" class="rounded mx-auto d-block" alt="...">
<app-banda></app-banda>
<h6 style="text-align:center;">listen to them in all plataforms</h6>
